#chart {
    position: relative;

    .legend {
        position: absolute;
        right: -100px;
    }
}
$colors: orange, green, blue, pink, yellow;

.epoch.my-colors {
  @for $i from 1 through 5 {
    .category#{$i} {
      .line { stroke: nth($colors, $i); }
      .area, .dot { fill: nth($colors, $i); }
    }
    .arc.category#{$i} path {
      fill: nth($colors, $i);
    }
    .bar.category#{$i} {
      fill: nth($colors, $i);
    }
  }
}

.pointer {
    cursor: pointer;
}

.control {
    [type="number"] {
        width: 200px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

.list-container {
    position: absolute;
    top: 256px;
    left: 50px;
    background-color: darken(#fff, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

